.App {
  text-align: center;
  
}

.App-header {
  background-color: #FFFFFF;
  min-height: 50vh;
  display: flex;
  margin-top: 1vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color:white;
}

h1{
  font-size: 240%;
  margin-bottom: -1vh;
}

h3{
  font-size: 80%;
  margin-bottom: 3vh;
 
}

nav{
  margin-top: 1vh;
}

nav a{
  
  flex:auto;
  color: black;
  font-style: normal;
  text-decoration: none;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  border-left: 1px solid black;
  text-transform: uppercase;
  font-weight: bolder;
}

nav a:first-child{
  border-left: none
}

.AboutDiv
{
  
  background-color: white;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
 
  
}

.Controll{
  padding-top: 1vw;
}

